#OS Thumbnail Files
.DS_Store
Thumbs.db

#Temporary Editor Files#
*~
\#*\#
\#*
.\#*
*.swp

#Build Files#
*.o
*.class

#Paper/Presentation
*.aux
*.out
*.aux
*.bbl
*.blg
*.log
*.dvi
*.nav
*.snm
*.toc
*.vrb
*.pdf

#ignore .metadata folder
/.metadata
/.metadata/

#ignore .classpath
.classpath
